@import "../../common/scss-variables";
// Common styles
::placeholder {
    font-size: 16px;
    // opacity: 0.8;
}

.search-box {
    width: 100%;
    display: flex;
    &.search-box-dark {
        box-shadow: 0 0px 4px 0 rgba(255, 255, 255, 0.2);
    }
    &.search-box-light {
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    }
    .search-icon {
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        &.search-icon-light {
            background: $light-mode-elems;
        }
        &.search-icon-dark {
            background: $dark-mode-elems;
        }
        & .fs-icon-light {
            color: #adadad;
        }
        & .fs-icon-dark {
            color: $dark-mode-text;
        }
    }
    & .search {
        padding: 0.5rem;
        outline: none;
        border: none;
        font-size: 14px;
        height: 3.5rem;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    & .search-light {
        background: white;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        &::placeholder {
            color: $light-mode-input;
            // opacity: 0.8;
        }
    }
    & .search-dark {
        color: white;
        background: $dark-mode-elems;
        // box-shadow: 0 0px 4px 0 rgba(255, 255, 255, 0.2);
        &::placeholder {
            color: $dark-mode-text;
        }
    }
}

@media (min-width: $mobile) and (max-width: $tablet) {
    .search-box {
        & .search {
            width: 100%;
        }
    }
}

@media (min-width: $desktop1) and (max-width: $desktop2) {
    .search-box {
        width: 40%;
        text-align: left;
        & .search {
            width: 100%;
            height: 3rem;
        }
    }
}