@import "../../common/scss-variables.scss";
.country {
    border-radius: 8px;
    // height: 350px;
    .flag-container {
        height: 200px;
        cursor: pointer;
        .country-flag {
            height: 100%;
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
    .country-details-container {
        text-align: left;
        padding: 1rem 2rem 0 2rem;
        .country-name {
            font-size: 22px;
            font-weight: 800;
            margin-bottom: 1.5rem;
            text-decoration: none;
            cursor: pointer;
            text-decoration: none;
        }
        .detail {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 0.5rem;
            span {
                font-weight: normal;
            }
        }
    }
    // Light
    &.country-light {
        background: $light-mode-elems;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
        .country-name,
        .detail {
            color: $light-mode-text;
        }
    }
    // Dark
    &.country-dark {
        background: $dark-mode-elems;
        box-shadow: 0 0px 4px 0 rgba(255, 255, 255, 0.2);
        .country-name,
        .detail {
            color: $dark-mode-text;
        }
    }
}

@media (min-width: $mobile) and (max-width: $tablet) {
    .country {}
}

@media (min-width: $desktop1) and (max-width: $desktop2) {
    .country {
        height: 430px;
    }
}