// Breakpoints
$mobile: 375px;
$tablet: 660px;
$desktop1: 900px;
$desktop2: 1440px;
// Body copy
$fs-small: 14px;
$fs-medium: 16px;
// Colors & Backgrounds
$dark-mode-bakcground: hsl(207, 26%, 17%);
$light-mode-bakcground: hsl(0, 0%, 98%);
$dark-mode-elems: hsl(209, 23%, 22%);
$light-mode-elems: hsl(0, 0%, 100%);
$dark-mode-text: hsl(0, 0%, 100%);
$light-mode-text: hsl(200, 15%, 8%);
$lignt-mode-input: hsl(0, 0%, 52%);